* {
    margin: 0;
    padding: 0;
    color: #4aaaa5;
}

body {
    background-image: url("../images/bananas.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

header {
    width: 100%;
    background-color: white;
}

footer {
    text-align: center;
    background-color: #666666;
    padding-top: 25px;
}

#header_container {
    width: 100%;
    background-color: white;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    border-bottom: 1px solid #666666;
}

#footer_container {
    width: 100%;
    background-color: #4aaaa5;
    position: fixed;
    bottom: 0;
    left: 0;
    padding-top: 5px;
}

#my_name {
    color: #fff;
    background-color: #4aaaa5;
    padding: 21px;
    display: inline-block;
}

#header_links {
    float: right;
    height: 21px;
    text-align: center;
    font-size: 21px;
    padding: 28px 0;
}

#header_links > a {
    text-decoration: none;
}

header {
    width: 75%;
    margin: auto;
}

.section {
    width: calc(75% - 42px);
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    overflow: hidden;
}

.section_text {
    font-size: 20px;
    line-height: 1.5;
}

.section_separator {
    margin: 20px auto;
}

.project_separator {
    margin: 20px auto;
    width: 75%;
}

#profile_picture {
    width: 180px;
    height: 180px;
    float: left;
    padding-right: 20px;
}

.projectImg {
    width: 210px;
    height: 210px;
    object-fit: cover;
    float: left;
    padding-right: 20px;
}

.project {
    width: 95%;
    margin: 20px auto;
}

.projectContent {
    margin-top: 5px;
}

.projectTitle {
    text-decoration: underline;
}